%input {
    outline: none;  
    border: none;
    background: blue;
    color: white;
    opacity: 60%;
    border-radius: 5px;
    text-indent: 10px;
}


a {
    text-decoration: none;
    color: white ;
}