@font-face {
    font-family: welcome-text;
    src: url(/assets/LeagueSpartan-VariableFont_wght.ttf);
}

// colors
$blue :#3C5EE9;
$orange:#FF5A25;
$black:#000;
$white:#fff;


%input {
    outline: none;  
    border: none;
    background: $blue;
    color: white;
    border-radius: 5px;
    text-indent: 10px;
    font-family: welcome-text;
}


@keyframes animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}

