
@media (max-width:414px) {
    body, .container {
        width: 375px;
        overflow-x: hidden;
    }


    header {
        width: 375px;
        height: auto;
        padding: 20px;
    }

    // #back {
    //     background-color: red;
    //     text-decoration: none;

    //     margin-left: 0
    
    //     img {
    //         width: 100px;
    //         height: 40px;
    //         margin-top: 20px;
    //     }
    // }


    main {
        width: 375px;
    }
    

    
    .input {
        flex-wrap: wrap;

        button {
            margin-top: 20px;
        }
    }









}

