

@media (min-width: 415px) and (max-width:768px) {
    body, .container {
        width: 760px;
        overflow-x: hidden;
        padding: 0;
    }


    header {
        width: 760px;
        height: auto;
        padding: 50px;
    }


    main {
        width: 760px;
        padding: 50px;
        margin-top: 0;

        .image {
            height: 500px;


            #hello-svg {
                width: 100%;
                height: 100%;
            }
        }



        p {
            font-size: 18px;
            margin: 0;
        }


        a {
            width: 100%;
            height: 45px;
        }
    }
    




    
    .input {
        flex-wrap: wrap;
        width: 80%;
        height: auto;

        padding: 20px;

        #course-name {
            width: 400px;
            height: 30px;
            font-size: 15px;
        }  

        #course-unit {
            width: 70px;
            height: 30px;
            font-size: 15px;
        }

        #course-grade {
            width: 70px;
            height: 30px;
    
            &::before {
                top: 8px;
                right: 10px;
                width: 8px;
                height: 8px;
            }
    
            &.active::before {
                top: 12px;
            }

            #grade-value {
                font-size: 15px;
            }

            .grade-options {
                top: 35px;
        
                #grade{
                    padding: 8px 20px;
                    font-size: 15px;
                }
            }
            
    
    
        }
        
        
        button {
            margin-top: 20px;
            width: 150px;
            height: 30px; 
        }


    }





    

    .output {
   
        .course-dts {
            
            height: 40px;
            padding: 0 15px;
            font-size: 13px;

            &.delete {
                scale: 90%;
                transform: translateX(-40px);
                transition: all 0.1s ease-in-out;
            }

            .remove-course {
                top: 6px;
                right: -35px;
            }

            &.deleted {
                transform: translateX(-150%);
                transition: all 0.3s ease-in-out;
            }

        }
  

        button {
            height: 30px;
        }
        

    }

    .blur {
        width: 768px;
        min-width: 415px;
    }


}