@import 'general';
@import 'homepage';
@import 'calculate';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: $white;
}


.container {
    width: 1440px;
    height: auto;
    position: relative;
    background-color: $white;
}


header {
    width: 1440px;
    height: auto;
    padding: 30px 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: $blue;
    }



    #logo {
        position: relative;
        border-radius: 50%;
        transform: scale(110%);
        animation: animate 3s ease-in-out infinite;
        box-shadow: 1px 1px 90px 3px $blue;

        &::before {
            content:'';
            position: absolute;
            top: 5px;
            right: -10px;
            background-color: $blue;
            opacity: 50%;

            width: 30px;
            height: 30px;
            border-radius: 50%;
            animation: animate 3s ease-in-out infinite;
        }

    }


}


@import 'mobile';